{% extends "base.html" %}

{% block content %}
<div class="box">
<div class="text-start h2">Welcome back, {{ user['firstname'] }}</div>
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active h3 text-secondary-emphasis" id="cards-tab" data-toggle="tab" href="#cards" role="tab" aria-controls="cards" aria-selected="true">Cards</a>
  </li>
  <li class="nav-item">
    <a class="nav-link h3 text-secondary-emphasis" id="transactions-tab" data-toggle="tab" href="#transactions" role="tab" aria-controls="transactions" aria-selected="false">Transactions</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="cards" role="tabpanel" aria-labelledby="cards-tab">
	<div class="row justify-content-start">
	    <div class="col">
            	<a href="{{ url_for('card') }}" class="h3">
                    + Add Card
            	</a>
            </div>
	</div>
	  <div class="row">
	    {% for card in cards %}
  	    <div class="col-4">
    		<div class="card">
      		    <div class="card-body">
			    <h5 class="card-title">{{ card['brand'] }}</h5>
			    <p class="card-text">{{ card['masked_card_number'] }}</p>
        		<a href="#" class="btn btn-success">Verified</a>
      		   </div>
               </div>
           </div>
	   {% endfor %}
  	</div>
  </div>
  <div class="tab-pane fade" id="transactions" role="tabpanel" aria-labelledby="transactions-tab">
	<div class="row justify-content-start">
            <div class="col">
                <a href="{{ url_for('change') }}" class="h3">
                    + Make Transaction
                </a>
            </div>
        </div>
        <table class="table table-hover table-dark">
  	    <thead>
    		<tr>
      		    <th scope="col">#</th>
		    <th scope="col">Debit Amount</th>
                    <th scope="col">Credit Amount (KES)</th>
		    <th scope="col">Date (UTC)</th>
		    <th scope="col">Reference No.</th>
		</tr>
	    </thead>
	    <tbody>
	    {% for t in transactions %}
		<tr>
		    <th scope="row">&#x2022;</th>
		    <td>{{ t['card_currency'] }} {{ t['payer_amount'] }}</td>
                    <td>{{ t['kes_amount'] }}</td>
		    <td>{{ t['datetime'] }}</td>
		    <td>{{ t['gp_reference'] }}</td>
		</tr>
	    {% endfor %}
	    </tbody>
	</table>
  </div>
</div>
</div>
{% endblock %}
